$primary-colorHeadline: rgb(41, 108, 233);
$primary-colorDates: rgba(97, 95, 100, 0.801);

%headline {
    color: $primary-colorHeadline;
    font-weight: bold;
}

h2 {
    @extend %headline;
}

em {
    color: $primary-colorDates;
}