@use "EstiloLetras";

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    background-color: beige;
}

.CV {
    background-color: rgba(255, 245, 201, 0.514);
    display: grid;
    height: 100%;
    grid-template-columns: 40% 1fr; 
    padding: 1%;

}

#imagen img {
    margin-left: 10%;
    width: 50%;
    height: auto;
}

#Form {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    max-width: 200px; 
    margin: 0 auto; 
}

@mixin formField {
    padding: 3px;
    font-size: 1rem;
    border-radius: 2px;
    border: 1px solid #ccc;
}

#Form input {
    @include formField;
}

#Form textarea {
    @include formField;
}


@media (max-width: 800px) {
    .CV {
        grid-template-columns: 1fr; 
    }
}